<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name = "viewport" content="width-device-width,intial-scale = 1.0">
        <title>Rent House Website</title>
        <!-- css -->
        <link rel="stylesheet" href="/css/style.css">
        <!-- boxicons -->
        <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    </head>
    <body>
        <header>
            <a href="/" class="logo"> <img src="img/logo.png" alt=""></a>
            <div class = "bx bx-menu" id = "menu-icon"></div>
            <ul class = "navbar">
                <li> <a href="#home">Home</a></li>
                <li> <a href="#rent">Rent</a></li>
                <li> <a href="#addNewHouse">Add</a></li>
                <li> <a href="#services">Services</a></li>
                <li><a href="#about"> About</a></li>
                <li><a href="#reviews"> Reviews</a></li>
            </ul>
            <div class="header-btn">
                <a href="sign-out" class="sign-out">Sign Out</a>
            </div>
        </header>
        <section class="home" id = "home">
            <div class = "text">
                <h1 style="color: black;"><span>Looking</span> to <br> Rent a House</h1>
                <p>Discover Your Ideal Home on Our Website: Browse a Variety of Thoughtfully Curated Houses Tailored to Your Needs. Begin Your Search for the Perfect Living Space and Uncover the Place Where You'll Create Lifelong Memories.</p>
                <div class="app-stores">
                    <img src="img/google play.jpeg" alt="google play">
                    <img src="img/app store.jpeg" alt="app store">
                </div>
            </div>
            <div class="form-container">
                <form action="/findHouse" method="post">
                    <div class="input-box">
                        <span>Location</span>
                        <input type="text" name="location" id="" placeholder="Search places">
                    </div>
                    <input type="submit" name="" id="" class = "btn">

                </form>
            </div>
        </section>
        <!-- rent -->
        <section class="rent" id="rent">
            <div class="heading">
                <span>How its Works</span>
                <h1>Rent with 3 easy steps</h1>
            </div>
            <div class="ride-container">
                <div class="box">
                    <i class='bx bxs-map' ></i>                    <h2>Choose a location</h2>
                    <p>Discover your ideal living environment from our diverse range of rental properties, each situated in a distinct neighborhood. Whether you're drawn to the energy of downtown living, the tranquility of suburban retreats, the allure of nature's beauty, or the charm of cultural enclaves, we have the perfect location to suit your lifestyle. Explore the options and find your next home today.</p>
                </div>

                <div class="box">
                    <i class='bx bxs-calendar' ></i>                    <h2>Move-in date</h2>
                    <p>Getting ready to settle into your new home? The move-in date is your ticket to starting fresh in a space that's all yours. Choose a move-in date that fits your schedule, and we'll make sure everything is prepared for your seamless transition. Whether you're eager to move in right away or prefer planning ahead, we're here to accommodate your needs. Your journey towards a new chapter begins with the perfect move-in date.</p>
                </div>

                <div class="box">
                    <i class='bx bxs-calendar-star' ></i>                    <h2>Book a house</h2>
                    <p>Explore our range of available houses for rent, each offering a unique living experience. From cozy cottages to spacious family homes, you're sure to find your perfect match. Our simplified rental process guides you seamlessly from selection to settling in. Let us assist you every step of the way, ensuring a smooth transition into your new home</p>
                </div>
            </div>
        </section>
        <section class="addNewHouse" id="addNewHouse">
            <div class="heading">
                <span>ADD Now</span>
                <h1>Add Your House</h1>
            </div>
            <div class="add-container">
                <div class="add-img">
                    <img src="img/interior.jpg" alt="">
                </div>
                <div class="add-text">
                    <span>Add Your House</span>
                    <p>At House Rental, we believe that everyone deserves to have a place to call home. That's why we're empowering landlords to list their properties on our user-friendly website, reaching millions of potential renters worldwide.</p>
                    <p>We're meticulous about curating our listings, ensuring that only the highest quality properties are featured on our platform. We also offer a variety of services to help landlords market their properties and manage their rentals, making it easy for them to provide renters with a seamless experience.</p>
                    <p>At House Rental, we believe that everyone deserves to have a place to call home. That's why we're empowering landlords to list their properties on our user-friendly website, reaching millions of potential renters worldwide.</p>
                    <a href="addYourHouse" class="btn">Add House</a>
                </div>
            </div>
        </section>

        <!-- services -->

        <section class="services" id="services">
            <div class="heading">
                <span>Best Services</span>
                <h1>Explore Out Top Deals <br> From Top Rated Dealer</h1>
            </div>
        
            <div class="services-container">
                <% if (house_list.length > 0) { %>
                    <% for (let i of house_list) { %>
                        <div class="box">
                            <div class="box-img">
                                <img src="<%= i.uploaded_file %>" alt="">
                            </div>
                            <div class="address-container">
                                <p><%= i.door_no %></p>
                                <p><%= i.city %></p>
                                <p><%= i.state %></p>
                            </div>
                            <h3><%= i.house_name %></h3>
                            <h2><%= i.cost %><span>/month</span></h2>
                            <a href="/" class="btn">Rent Now</a>
                        </div>
                    <% } %>
                <% } else { %>
                    <p>No houses available at the moment.</p>
                <% } %>
            </div>
        </section>
        
<!-- About -->
<section class="about" id="about">
    <div class="heading">
        <span>About us</span>
        <h1>Best Customer Experience</h1>
    </div>
    <div class="about-container">
        <div class="about-img">
            <img src="img/about.jpeg" alt="">
        </div>
        <div class="about-text">
            <span>About Us</span>
            <p>Navigate our user-friendly house rental website effortlessly, discovering a diverse array of meticulously curated properties that cater to different preferences and lifestyles.</p>
            <p>Immerse yourself in high-resolution images and detailed descriptions, empowering you to envision each space. Interactive maps offer a clear view of surroundings, enhancing your understanding of locations and amenities.</p>
            <p>Experience personalized support through multiple channels, real-time availability updates, transparent pricing, and simplified booking processes. Immerse yourself in virtual tours and localized neighborhood information as you embark on a confident house-hunting journey.</p>
            <a href="/" class="btn">Learn More</a>
        </div>
    </div>
</section>
<!-- reviews -->
<section class="reviews" id="reviews">
    <div class="heading">
        <span>Reviews</span>
        <h1>What Our Customer Says</h1>
    </div>
    <div class="reviews-container">
        <div class="box">
            <div class="rev-img">
                <img src="img/rev1.jpeg" alt="">
            </div>
            <h2>Rahul Mangamuri</h2>
            <div class="stars">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star' ></i>
            </div>
            <p>Absolutely worth 5 stars! The accuracy of the listings impressed me - the house matched the description perfectly. The interactive map feature was a game-changer, helping me choose a neighborhood that suited me. Quick responses from the support team made everything smooth. Highly recommended!</p>
        </div>
        <div class="box">
            <div class="rev-img">
                <img src="img/rev2.jpeg" alt="">
            </div>
            <h2>Renuka Dasari</h2>
            <div class="stars">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star-half'></i>
            </div>
            <p>A solid 4.5 stars from me! The listings were accurate, and the rental process was hassle-free. The house I chose was great, though a minor improvement could've made it perfect. The interactive map was a useful tool, and the support team was responsive. Overall, a positive experience.</p>
        </div>
        <div class="box">
            <div class="rev-img">
                <img src="img/rev3.jpeg" alt="">
            </div>
            <h2>James Hottam</h2>
            <div class="stars">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star' ></i>
            </div>
            <p>A 4-star rating from me. As a foreigner, I found the listings helpful and was able to find a suitable house through your platform. The only drawback I encountered was occasional loading issues with the website. Despite that, the support team was attentive and helpful, ensuring the rental process went smoothly for someone unfamiliar with the area.</p>
        </div>
    </div>
</section>
<!-- NewsLetter -->
<section class="newsletter">
    <h2>Subscribe To NewsLetter</h2>
    <div class="box">
        <input type="text" placeholder="Enter Your Email....">
        <a href="/" class ="btn">Subscribe</a>
    </div>
</section>

<!-- Copy Rights -->
<div class="copyrights">
    <p>&#169; RentHouse All Rights Reserved</p>
    <div class="social">
        <a href=""><i class='bx bxl-facebook' ></i></a>
        <a href=""><i class='bx bxl-twitter' ></i></a>
        <a href=""><i class='bx bxl-instagram' ></i></a>

    </div>
</div>

<!-- ScrollReveal -->
<script src="https://unpkg.com/scrollreveal"></script>

    <!-- Link to js -->
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>

